.single_message {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  position: relative;
  animation-name: popUp;
  animation-duration: 0.5s;
  padding: 10px 10px 10px 10px;
  margin: 0px 10px 0px 10px;
}

.single_message_actions {
  display: flex;
  align-items: flex-start;
  top: 0;
  opacity: 0;
}

.single_message_content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@keyframes popUp {
  0% {
    left: 0px;
    top: 50px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.single_message:hover {
  background-color: rgb(232, 231, 233);
}

.single_message:hover .single_message_actions {
  background-color: rgb(232, 231, 233);
  opacity: 1;
}

.single_message_actions:hover {
  background-color: rgb(232, 231, 233);
}

.single_message_user {
  font-weight: 600;
}

.single_message_date {
  font-size: 0.8rem;
  color: grey;
}

.single_message_msg {
  display: flex;
  flex-wrap: wrap;
}

.edit_button {
  display: flex;
  align-content: flex-start;
  border: hidden;
  padding: 5px;
  color: rgba(128, 128, 128, 0.6);
  background-color: rgb(232, 231, 233);
}

.edit_button:hover {
  color: rgb(42, 154, 245);
}

.delete_button {
  display: flex;
  align-content: flex-start;
  border: hidden;
  padding: 5px;
  background-color: rgb(232, 231, 233);
  color: rgba(128, 128, 128, 0.6);
}
.delete_button:hover {
  color: rgb(42, 154, 245);
}

.single_message_msg {
  overflow-wrap: anywhere;
  hyphens: none;
  text-align: justify;
}
